body {
  background: #fff;
  box-sizing: border-box;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 21px;
  line-height: 1.4;

  * {
    box-sizing: inherit;
  }
}

header,
main,
footer {
  margin: auto;
  width: 800px;
}

footer {
  display: flex;
  justify-content: space-between;

  time {
    color: #999;
  }
}
