<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <a href="#main-content" class="visuallyhidden focusable" id="skip-to-content">Skip to content</a>
    <header>
      <nav>
        <a href="/">Home</a>
      </nav>
    </header>

    <main id="main-content">
      {{ content }}
    </main>

    <footer>
      <a href="#main-content">Back to top</a>
      <time datetime="{{ page.last_modified_at }}">Last edited {{ page.last_modified_at | date_to_long_string: "ordinal" }}</time>
    </footer>
  </body>
</html>
