<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <a href="#main-content" class="visuallyhidden focusable" id="skip-to-content">Skip to content</a>
    <header>
      <nav>
        <a href="{% if page.url == "/" %}#main-content{% else %}/{% endif %}">Home</a>
        <a href="{% if page.url == "/about" %}#main-content{% else %}/about{% endif %}">About</a>
      </nav>
    </header>

    <main id="main-content">
      {{ content }}
    </main>

    <footer>
      <a href="#main-content">Back to top</a>
    </footer>
  </body>
</html>
